# Ignore environment file
.env

# Ignore Google key folder
Keys/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/
.venv/
.env/
ENV/
.myenv/

# Ignore IDE files
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore all mock data and JSON files in mock_data_large
mock_data_large/
**/mock_data_large/
mock_data_large/*.json
**/mock_data_large/*.json